.BrownBox {
    background-color: brown;
    color: #fff;
    min-height: 100PX;
    margin-top: 2rem;
}


.container-three {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-decoration: none;
}
h3 {
    color: #fff;
    text-decoration: none;
}
 a.dot {
    text-decoration: none;
 }

.column-Brown {
    flex: 1;
    padding:  5px 15px;
    
} 



@media (max-width: 768px) {
    .container-three {
        flex-direction: column;
        width: 100%;
    }
}