#message-h1 {
  color: brown;
  font-family: "Poppins", Sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

hr {
    height: 5px;
    width: 50%;
    margin: auto;
    background-color: red;
    margin-bottom: 2rem;
}