

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    /* padding: 1rem 5rem; */
    margin: 0 auto;
    font-size: 5px;

}

.navbar-logo {
    width: 250px;
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center ;
}
.navbar-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-links {
    display: flex;
    gap: 30px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 15px;
}

.navbar-links a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .navbar-links.active {
        display: flex;
    }

    .navbar-toggle {
        display: flex;
    }
}
