

.image-container {
   position: relative;
   width: 100%;
   height: fit-content;
   margin: 0 auto;
}

.image-container img {
   vertical-align: middle;
}
.image-container .content {
   position: absolute;
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0,0.5);
   color: #f1f1f1;
   padding: 5px 10px;
   width: 100%;
   height: auto;
   bottom: 0;
   text-align: center;
   
   
}

.image-bg {
   width: 100%;
   height: 500px;
}


