.container-three {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}
.image-container .content {
    position: absolute;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0,0.5);
    color: #f1f1f1;
    padding: 20px;
    width: 100%;
    bottom: 0;
    
 }
 
.image-container img {
    vertical-align: middle;
 }
.column {
    flex: 1;
    padding:  5px 20px;
    box-sizing: border-box;
   
}



@media (max-width: 768px) {
    .container-two {
        flex-direction: column;
        width: 100%;
    }
}