.container {   
    display: flex;
    justify-content: space-between; 
    margin: 0;
}

.column {
    flex: 1; 
    padding: 10px;
     box-sizing: border-box; 
}

#first-image {
    border: none;
}
.left-column {   
    padding: 3rem;
    width: 450px; 
    background-color: red;
    border: none;
}

.right-column { 
    
    align-items: center; margin-top: 10rem; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    
    
}
#Two-column-p {
    padding: 1rem;
    font-family: "Poppins", Sans-serif;
    text-align: start; 
    padding: 1rem 3rem;
}
.button-two {
    padding: 1rem 2rem;
    width: 160px;
    border-radius: 10px;
    font-family: "Poppins", Sans-serif;
    text-align: start;
    margin-left: 2rem
}
.Two-column-h1  {
    color: brown;
    text-align: start;
    padding: 1rem 3rem;
    font-weight: bolder;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
}

li {
    font-family: "Poppins", Sans-serif;
    text-align: start;
    margin-left: 1rem;
}
.Two-column-h2 {
   color: #000;
   padding: 2px 3rem;
   font-weight: bolder;
   text-align: start;
   font-weight: bolder;
    font-family: "Poppins", Sans-serif;
    font-size: 30px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100%;
    }
}