body {
  font-family: "Poppins", Sans-serif;
  margin: 0;
}

.Images {
  width: 100%;
  border-radius: 2rem;
}
h1 {
  padding: 10px 8px;
  color: brown;
  margin: 0;
  text-align: center;
  font-family: "Poppins", Sans-serif;
   font-weight: bolder;
   font-size: 30px;
}

.content {
 width: 80%;
 margin: auto;
 font-family: "Poppins", Sans-serif;
 margin: 0 auto;
}

h2 {
  text-align: center;
  font-family: "Poppins", Sans-serif;
}
h3 {
  text-align: center;
  padding: 1rem;
  font-family: "Poppins", Sans-serif;
}



button.twin {
  padding: 1rem 2rem;
  width: 160px;
  border-radius: 10px;
  font-family: "Poppins", Sans-serif;
  text-align: center;
  margin:  0 auto;
}

