
.Images {
  width: 100%;
  border-radius: 2rem;
}
h1 {
  font-size: 1rem;
  padding: 10px 8px;
  color: brown;
  margin: 0;
  text-align: center;
}

.content {
 width: 80%;
 margin: auto;
}

h2 {
  text-align: center;
}
h3 {
  text-align: center;
  padding: 1rem;
}

