.welcome-message {
    background-color: green;
    border-radius: 4px;
    padding: 1rem;
    color: white;
}
.Login-alert {
    background-color: red;
    border-radius: 4px;
    padding: 1rem;
    color: white;
}

h2 {
    color: #000;
    padding: 2px 3rem;
    font-weight: bolder;
    text-align: start;
    font-weight: bolder;
     font-family: "Poppins", Sans-serif;
     font-size: 30px;
 }
